* { margin:0; padding:0; box-sizing:border-box; }

body {
	background: url("images/tbone.png") no-repeat;
   	background-size: cover;
}
header {
	background-color:#0d0d0d;
	border-top:#c31013 10px solid;
	height:80px;
	width:100%;
}
#topStripe {
	background: #C31013;
	height: 10px;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
}
#navStripe {
	background: #0D0D0D;
	height: 80px;
	width: 100%;
	position: fixed;
	top: 10px;
	left: 0;
	z-index: 3;
}
ul {
	float:left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li {
	display:inline;
	width:100px;
	/*overflow: hidden; */
	/* padding-right: 100px; */
}
a {
	float:left;
	display: block;
	width: 100px;
	font-weight: bold;
	font-family: 'Lobster', serif;
	font-size: 25px;	
	color: #FFF8E3;
	text-align: center;
	text-decoration: none;
	margin-top: 20px;

}
h1 {
	font-size: 66px;
	font-family: 'Lobster', serif;
	color: #FFF8E3;
	text-shadow: 2px 2px #CCCC9F;
	font-weight: normal;
	letter-spacing: 2px;
	position: relative;
	float: left;
	margin-top: -5px;
	margin-left: 100px;
	z-index: 2;
}
#sloganPos {
	position: fixed;
	top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

}
#slogan {
	text-align: center;
	font-family: 'Bitter', serif;
	color: #FFFFFF;	
	font-size: 30px;
	font-weight: normal;
	line-height: 40px;
	letter-spacing: 2px;

	padding-top: 180px;
}

