* { margin:0; padding:0; box-sizing:border-box; }

body {	
	background: url("cattle.jpg"); 
	background-repeat: no-repeat;
	background-color: #404657;
	margin-left: 100px;
	line-height: 20px;	
	padding-top: 300px;
}