* { margin:0; padding:0; box-sizing:border-box; }

body {	
	background-color: #FFFFFF;
	background: url("images/tbone.png") no-repeat;
	background-size: cover;
	background-image: absolute;
	background-position: 0px 40px;
	height: 1200px;
	width: auto;

}
.topStripe {
	background: #000000;
	height: 80px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li {
	float: right;
	overflow: hidden;
	padding-right: 90px;
}
a {
	display: block;
	font-weight: bold;
	font-family: 'Lobster', serif;
	font-size: 25px;	
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	margin-top: 20px;

}
h1 {
	font-size: 44px;
	font-family: 'Lobster', serif;
	color: #FFFFFF;
	font-weight: normal;
	position: absolute;
	float: center;
	margin-top: 10px;
	margin-left: 90px;
	z-index: 2;
}
.nametext {
	color: #FFFFFF;
	font-family: 'Bitter', serif;	
	position: relative;
	text-align: left;
}
h2 {
	font-size: 80px;
	font-weight: bolder;
	margin-left: 90px;
	padding-top: 300px;
}
p {
	font-size: 27px;
	font-weight: normal;
	margin-left: 95px;
	line-height: 1.62em;
	padding-top: 65px;
}
