* { margin:0; padding:0; box-sizing:border-box; }

body {	
	background: url("assets/background.jpg"); 
	background-repeat: no-repeat;
	background-color: #525a6a;
	background-size:cover;
	line-height: 20px;	
}
section {
	margin:300px 0 0 100px;
}
.topStripe {
	background: url("assets/stripes.png");
	background-repeat: repeat-x;
	height: 13px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
p {
	font-family: sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: #fff;
	margin:20px 0 20px 0;
	
	
}
hr {
	border-color: #F4555C;
	width: 50px;	
}

