* { margin:0; padding:0; box-sizing:border-box; }
html {
	background: url("assets/openbook.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

body {
	font-family: 'Raleway', sans-serif;

 	letter-spacing: 2px;
}

header {
	background-color: #0C273D;
	margin: 8px 460px;
	border: 4px solid #FFF;

}

.logo {
	width: 240px;
	height: 100px;
	display: block;
	margin: 0 auto;
	padding-top: 0px;
}

h1 {
	color: #FFF;
	font-size: 50px;
	text-align: center;
	margin-top: -30px;
	letter-spacing: 4px;
}

strong {
	color: #BADCDD;
}

nav {
	background-color: #BADCDD;
  	font-size: 20px;
  	text-align: center;
  	margin-top: 20px;
  	padding-top: 4px;
}

ul {
    display: inline-block;
	list-style: none;
}

li {
  	display: inline;
}

nav a {
	float: left;
  	color: #0C273D;
  	text-decoration: none;
  	text-align: center;
  	padding: 0px 100px;
}

a:hover {
	color: #FFF;
}

.shelfbg {
	display: block;
	margin: 0 auto;
	clear: both;
	width: 960px;
	opacity: .6;
}

#hero {
	background-color: #0C273D;
}

#exploreTab {
	color: #FFF;
}